:root {
  --green: #D9FE95;
  --purple: #ABABE7;
}

* {
  box-sizing: border-box;
  font-size: 16px;
}

@media (max-width: 1310px) {
  * {
    font-size: 14px;
  }
}

@media (max-width: 750px) {
  * {
    font-size: 12px;
  }
}

body {
  font-family: "Inter", sans-serif;
  margin: 0 auto;
  max-width: 1512px;
  width: 100%;
  color: #15151D;
}

#root {
  overflow-x: hidden;
}

h1 {
  font-size: 3.75rem; //60px
  font-weight: 400;
}

h2 {
  font-size: 3.25rem; //52px
  font-weight: 400;
}

h3 {
  font-size: 2.5rem; //40px
  font-weight: 400;
  margin: 0;
}

h4 {
  font-size: 2rem; //32px
  font-weight: 400;
  margin: 0;
}

h6 {
  font-size: 1.25rem; //20px
  font-weight: 500;
}

p {
  font-size: 1.5rem; //24px
  line-height: 36px;

  @media (max-width: 750px) {
    line-height: 24px;
  }
}

ul {
  list-style-type: none;
  padding: 0;
}

.text {
  font-size: 1.25rem; //20px
  line-height: 24.2px;
}

.content {
  padding-top: 128px;

  @media (max-width: 750px) {
    padding-top: 56px;
  }
}

.padding {
  padding: 0 120px;

  @media (max-width: 1220px) {
    padding: 0 60px;
  }

  @media (max-width: 750px) {
    padding: 0 12px;
  }
}