.textarea, .input {
  border: none;
  outline: none;
  font-size: 1.5rem;
  color: #7F7AD8;
  // width: 520px;
  padding: 16px 24px;
  border: 1px solid #7F7AD8;
  border-radius: 12px;
  font-family: "Inter", sans-serif;
}
.input, .textarea {
  &::placeholder {
    color: #DEE0F6;
  }
  
  &.error {
    border: 1px solid #D9617E;
  }
}
.textarea {
  resize: none;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    display: none;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}