.button {
  background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;

  width: 306px;
  height: 82px;
  min-height: 82px;
  border-radius: 12px;
  font-size: 1.75rem;
  z-index: 1;
  position: relative;

  &.secondary {
    background-color: var(--green);
  }

  &.primary {
    background-color: var(--purple);
    color: #FCFDFC;
  }

  &.small {
    width: 164px;
    height: 66px;
    padding: 16px 48px;
  }

  &.special {
    width: 184px;
    height: 53px;
    min-height: 53px;
    padding: 0 28px;
    border-radius: 8px;
    font-size: 1.5rem;
  }

  &.gradient {
    background: linear-gradient(to right, #EDEDFA, #C3C5EF);
  }

  &:disabled {
    color: #15151D80;
    background-color: #15151D1A;
    cursor: auto;
  }

  @media (max-width: 750px) {
    width: 204px;
    height: 56px;
    min-height: 56px;
  }
}