.switcher {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 656px;

  .pictureBox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 628px;
    width: 100%;
    max-height: 655px;
    height: 100%;
    background-image: url('./../../assets/subtract.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: center;
    margin-right: 32px;

    &::after {
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      display: block;
      width: 306px;
      height: 82px;
      border: 1px solid #DEE0F6;
      border-radius: 12px;
      z-index: -1;
    }

    .picture {
      width: 90%;
    }

    @media (max-width: 1510px) {
      &::after {
        display: none;
      }
    }
  }

  &.reverse {
    flex-direction: row-reverse;

    .pictureBox {
      background-image: url('./../../assets/subtract-reverse.png');
      background-size: contain;
      margin-right: 0;
      margin-left: 32px;

      &::after {
        display: none;
      }
    }
  }

  .switches {
    display: flex;
    flex-direction: column;

    .switch {
      width: 519px;
      height: 96px;
      display: flex;
      align-items: center;
      border-radius: 20px;
      padding: 0 24px;
      cursor: pointer;
      margin-bottom: 16px;
      font-size: 2rem;
      background-color: #F5F5FD;
      box-shadow: 0 7px 16px #15151D08, 0 29px 29px #15151D08, 0 65px 39px #15151D05, 0 116px 46px #15151D00, 0 181px 51px #15151D00, 0 4px 20px 2px #15151D1A;
      
      &:hover {
        background: linear-gradient(to right, #F5F5FD, #C3C5EF);
      }

      &.selected {
        background: linear-gradient(to right, #F5F5FD, #C3C5EF);
      }

      .icon {
        margin-right: 15px;
        background-color: #D9FE95;
        width: 40px;
        height: 40px;
      }
    }
  }

  @media (max-width: 1100px) {
    position: relative;
    justify-content: center;
    height: auto;

    .pictureBox {
      position: absolute;
      max-width: 500px;
      max-height: 540px;
      margin-right: 0;
    }

    &.reverse {
      .pictureBox {
        margin-left: 0;
      }
    }

    .switches {
      width: 100%;
      z-index: 4;
      
      .switch {
        width: 100%;
      }
    }
  }

  @media (max-width: 750px) {
    .pictureBox {
      max-width: 335px;
      max-height: 351px;
    }

    .switches {
      .switch {
        height: 88px;
      }
    }
  }
}